body {
    font-family: Arial, Helvetica, sans-serif;
}

input, label {
    display: block;
}

span {
    white-space: nowrap;
}

.memarray {
    font-family: monospace;
    background-color: black;
    color: white;
}