            </section>
            <section>
                <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
                    <script type="text/javascript" id="hcb">
                        if (!window.hcb_user) {
                            hcb_user = {};
                        }
                        hcb_user.PAGE = window.location.href;
                        (function() {
                            var s = document.createElement("script"),
                                l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"),
                                h = "https://www.htmlcommentbox.com";
                            s.setAttribute("type", "text/javascript");
                            s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%24hYXOD7sViS4%2FIw1JIJKaH." + "&opts=17366&num=20&ts=1610143640892");
                            if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s);
                        })();
                    </script>
                </div>
            </section>
        </article>
        <aside>
            <section>
    <input type="text" id="searchbar-input" class="searchbar-input" autocomplete="off" placeholder="Search"/>
<p id="searchbar-loading" class="searchbar-loading">Loading...</p>
<ul id="searchbar-results" class="searchbar-results"></ul>
<script>
const indexUrl="https://arkanic.github.io/projects/index.json";let xhr=new XMLHttpRequest;function searchBar(e){let t=document.getElementById("searchbar-input"),r=document.getElementById("searchbar-results");document.getElementById("searchbar-loading").remove(),t.addEventListener("keyup",n=>{let a=t.value.toLowerCase();if(r.innerHTML="",""!=a)for(let t in e.files){let n=e.files[t];if(n.name.toLowerCase().indexOf(a)>-1){let e=document.createElement("li"),t=document.createElement("a");t.href="https://arkanic.github.io/projects/"+n.location,t.innerHTML=n.name,e.appendChild(t),r.appendChild(e)}}})}xhr.open("GET",indexUrl),xhr.onreadystatechange=(()=>{if(4==xhr.readyState){if(200!=xhr.status)throw new Error(`index link returned ${xhr.status}`);searchBar(JSON.parse(xhr.responseText))}}),xhr.send();
</script>
</section>
        </aside>
        <footer>
            <p><a href="https://arkanic.github.io/contact/">Contact</a></p>
        </footer>
    </body>
</html>