<div class="header">
    <p>
        <img src="https://arkanic.github.io/src/img/profile/arkanic.png" class="small"/>
         Arkanic
    </p>
    <div class="nav">
        <ul>
            <li>
                <a href="https://arkanic.github.io/">Home</a>
            </li>
            <li>
                <a class="global-link">Projects</a>
            </li>
            <li>
                <a class="global-link">About</a> 
            </li>
            <li>
                <a class="global-link">Contact</a>
            </li>
        </ul>
    </div>

    <!-- generate the links for every element with the class "global-link"-->
    <script>
        let links = document.getElementsByClassName("global-link");
        for(let i in links) {
            links[i].href = `${window.location.protocol}//${window.location.hostname}/${(links[i].textContent).toLowerCase()}`;
        }
    </script>
</div>
