</head>
  <body>
    <div class="header">
    <p>
        <img src="https://arkanic.github.io/src/img/profile/arkanic.png" width="64" height="64"/>
         Arkanic
    </p>
    <div class="nav">
        <ul>
            <li>
                <a href="https://arkanic.github.io/">Home</a>
            </li>
            <li>
                <a href="https://arkanic.github.io/projects/" class="global-link">Projects</a>
            </li>
            <li>
                <a href="https://arkanic.github.io/about/" class="global-link">About</a> 
            </li>
            <li>
                <a href="https://arkanic.github.io/contact/" class="global-link">Contact</a>
            </li>
        </ul>
    </div>
</div>

    <div class="article">
        <div class="section">