/* Apply to every element */
* {
    font-family: Arial, Helvetica, sans-serif; /* standard sans-serif font stack */
}

/* pattern */
body {
    background-color: rgb(34, 59, 59);
    padding: 0 10% 0 10%;
}

/* boxes */
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}

/* box with a border */
.border-box {
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 5px;
}

/* button */
button {
    font-size: 18px;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
    background-color: rgba(240, 240, 240, 1);
}

button:hover {
    background-color: rgba(220, 220, 220, 1);
}

button:focus {
    outline: none;
}

/* textboxes */
input {
    font-size: 18px;
    color: black;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 3px;
}

/* select box */
select {
    font-size: 18px;
    color: black;
    background-color: transparent;
    padding: 3px 3px;
    border-radius: 3px;
}

/* Hides an element when applied */
.hidden {
    display: none !important;
}

/* The timer bar */
.timer-bar {
    border: 8px solid black;
}

/* display question module style */
.inline span {
    display: inline-block;
}

/* add a "space" to the end of the select elements */
.inline span select {
    margin-right: 0.5em;
}

/* make question text a bit bigger */
.inline span p {
    font-size: 18px;
}

/* leaderboard display border */
.leaderboard-display {
    border: 1px solid black;
}

/* top right menu box */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* make the images look like they are clickable */
.top-right img {
    cursor: pointer;
}

/* word list red border error box */
.wl-empty-box {
    border: 1px solid red;
}