input.searchbar-input {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #CCC;
    margin-bottom: 12px;
}

ul.searchbar-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.searchbar-results li a {
    display: block;
    border: 1px solid #CCC;
    margin-top: -1px;
    background-color: #F6F6F6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

ul.searchbar-results li a:hover {
    background-color: #EEE;
}