body {
	font-family: sans-serif;
}
h1, h2 {
	margin: 0;
}
h1 {
	font-size: 18pt;
}
h2 {
	font-size: 16pt;
}
h3 {
	font-size: 14pt;
}
h4 {
	font-size: 12pt;
}

ul>h3 {
	font-size: 12pt;
	text-decoration: underline;
	margin-bottom: 0;
}
