<header>
    <p>Arkanic</p>
    <nav>
        <ul>
            <li>
                <a href="https://arkanic.github.io/">Home</a>
            </li>
            <li>
                <a href="https://arkanic.github.io/projects/">Projects</a>
            </li>
            <li>
                <a href="https://arkanic.github.io/notes/">Notes & Stuff</a>
            </li>
            <li>
                <a href="https://arkanic.github.io/about/">About</a> 
            </li>
            <li>
                <a href="https://arkanic.github.io/contact/">Contact</a>
            </li>
        </ul>
    </nav>
</header>