<meta http-equiv="content-language" content="en">

<meta property="og:type" content="website">
<meta property="og:title" content="Arkanic">
<meta property="og:site_name" content="Arkanic">
<meta property="og:description" content="Arkanics' home page">
<meta property="og:image" content="https://arkanic.github.io/src/img/profile/arkanic.png">
<meta property="og:url" content="https://arkanic.github.io/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Arkanic">