*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding: 8px 24px 24px 24px;
}
/* header */
div.header p {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}
div.header h1 {
    font-size: 16px;
    text-align: right;
}
/* breadcrumb menu */
div.nav ul {
    list-style-type: none;
    padding: 16px;
}
div.nav ul li {
    display: inline;
    border-right: 1px solid #555;
    padding-left: 8px;
    padding-right: 8px;
}
div.nav ul li:last-child {
    border-right: none;
}
div.nav ul li a {
    text-decoration: none;
    color: #555;
}
div.nav ul li a:hover {
    text-decoration: underline;
    color: #666;
}
/* section */
div.section {
    margin-bottom: 24px;
    min-height: 320px;
    padding-left: 24px;
    padding-right: 24px;
}
/* footer */
div.footer p.contact {
    text-align: right;
}
img.small {
    float: left;
    height: 200px;
    margin-bottom: 24px;
    margin-right: 24px;
}
img.medium {
    max-width: 360px;
    width: 50%;
}
img.large {
    width: 100%;
}

@media all and (min-width: 900px) {
    div.article {
        float: left;
        width: 66%;
    }
    div.footer {
        clear: both;
    }
}


.btn {
    display: inline-block;
    background: #AAA;
    border-radius: 4px;
    font-size: 14px;
    color: #000;
    padding: 8px 12px;
    cursor: pointer;   
}